{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "proseWrap": "never",
  "experimentalTernaries": true,
  "bracketSpacing": true,
  "arrowParens": "always"
}
